/* Alla element */
h1{
    color: red;
}

/* Alla med samma id */
#title{
    color:blue;
}

/* Alla med samma klassnamn */
.title{
    color:rgb(43, 41, 167, 0.5);
    border: 2px solid black;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-left: 25px;

    /* margin: 10px, 25px, 10px, 25px; */

    /* margin: 10px, 25px; */

    /* margin: 10px; */
}

.colorChange{
    color:rgba(0,0,0,0.8);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    color: #333;
    /* background-color: #333;
    background-image: url('../img/homer.jpg');
    background-repeat: no-repeat;
    background-position: top left; */

    background: #333 url('../img/homer.jpg') no-repeat top left;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color:gold;
    font-weight: bold;
    font-size: 24px;
    opacity: 0.5;
    transition: all 1s ease-in-out;
}

a, a:active{
    color: red;
}

.columnBox{
    float: left;
    width: 33.3%;
    box-sizing: border-box;
}

.column1{
    float: left;
    width: 25%;
    box-sizing: border-box;
}
