body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newColor{
    color:blue;
    font-weight: bold;
}

#innerHTML{
    color: navy;
}

.btn{
    color: pink;
    background-color: navy;
}

main{
    color: purple;
}


.light{
    color:black;
}
.dark{
    color:white;
}